@charset "utf-8";

/*
 * Nanum Gothic (Korean) https://fonts.googleapis.com/css?family=Nanum+Gothic
 */
 @font-face {
	font-family: 'Nanum Gothic';
	font-style: normal;
	font-weight: 400;
	src: url(../font/NanumGothic-Regular.woff) format('woff'),
		 url(../font/NanumGothic-Regular.ttf) format('truetype');
}
@font-face {
	font-family: 'Nanum Gothic';
	font-style: normal;
	font-weight: 700;
	src: url(../font/NanumGothic-Bold.woff) format('woff'),
		 url(../font/NanumGothic-Bold.ttf) format('truetype');
}
@font-face {
	font-family: 'Nanum Gothic';
	font-style: normal;
	font-weight: 800;
	src: url(../font/NanumGothic-ExtraBold.woff) format('woff'),
		 url(../font/NanumGothic-ExtraBold.ttf) format('truetype');
}

/* 
 * Nanum Barun Gothic (Korean) http://hangeul.naver.com
 */
@font-face {
	font-family: 'Nanum Barun Gothic';
	font-style: normal;
	font-weight: 200;
	src: url(../font/NanumBarunGothicUltraLight.woff) format('woff'),
		 url(../font/NanumBarunGothicUltraLight.ttf) format('truetype');
}

@font-face {
	font-family: 'Nanum Barun Gothic';
	font-style: normal;
	font-weight: 300;
	src: url(../font/NanumBarunGothicLight.woff) format('woff'),
		 url(../font/NanumBarunGothicLight.ttf) format('truetype');
}

@font-face {
	font-family: 'Nanum Barun Gothic';
	font-style: normal;
	font-weight: 400;
	src: url(../font/NanumBarunGothic.woff) format('woff'),
		 url(../fontNanumBarunGothic.ttf) format('truetype');
}

@font-face {
	font-family: 'Nanum Barun Gothic';
	font-style: normal;
	font-weight: 700;
	src: url(../font/NanumBarunGothicBold.woff) format('woff'),
		 url(../font/NanumBarunGothicBold.ttf) format('truetype');
}

/*
* Noto Sans KR (korean) http://www.google.com/fonts/earlyaccess (//fonts.googleapis.com/earlyaccess/notosanskr.css)
*/
@font-face {
	font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight: 100;
	src: url(../font/NotoSansKR-Thin.woff) format('woff'),
		 url(../font/NotoSansKR-Thin.otf) format('opentype');
}
@font-face {
	font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight: 300;
	src: url(../font/NotoSansKR-Light.woff) format('woff'),
		 url(../font/NotoSansKR-Light.otf) format('opentype');
}
@font-face {
	font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight: 400;
	src: url(../font/NotoSansKR-Regular.woff) format('woff'),
		 url(../font/NotoSansKR-Regular.otf) format('opentype');
}
@font-face {
	font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight: 500;
	src: url(../font/NotoSansKR-Medium.woff) format('woff'),
		 url(../font/NotoSansKR-Medium.otf) format('opentype');
}
@font-face {
	font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight: 700;
	src: url(../font/NotoSansKR-Bold.woff) format('woff'),
		 url(../font/NotoSansKR-Bold.otf) format('opentype');
}
@font-face {
	font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight: 900;
	src: url(../font/NotoSansKR-Black.woff) format('woff'),
		 url(../font/NotoSansKR-Black.otf) format('opentype');
}

/*
* Roboto https://fonts.googleapis.com/css?family=Roboto
*/
@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 100;
	src: url(../font/Roboto-Thin.woff) format('woff'),
		 url(../font/Roboto-Thin.ttf) format('truetype');
}
@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 300;
	src: url(../font/Roboto-Light.woff) format('woff'),
		 url(../font/Roboto-Light.otf) format('truetype');
}
@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	src: url(../font/Roboto-Regular.woff) format('woff'),
		 url(../font/Roboto-Regular.otf) format('truetype');
}
@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 500;
	src: url(../font/Roboto-Medium.woff) format('woff'),
		 url(../font/Roboto-Medium.otf) format('truetype');
}
@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 700;
	src: url(../font/Roboto-Bold.woff) format('woff'),
		 url(../font/Roboto-Bold.otf) format('truetype');
}
@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 900;
	src: url(../font/Roboto-Black.woff) format('woff'),
		 url(../font/Roboto-Black.otf) format('truetype');
}

/*
 * Font Awesome Free 5.2.0 by @fontawesome - https://fontawesome.com
 * License - https://fontawesome.com/license (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License)
 */
 @font-face {
	font-family: 'Font Awesome 5 Free';
	font-style: normal;
	font-weight: 400;
	src: url(../font/fa-regular-400.woff) format("woff"), 
		 url(../font/fa-regular-400.ttf) format("truetype");
}
.far {
	font-family: 'Font Awesome 5 Free'; font-weight: 400; 
}
@font-face {
	font-family: 'Font Awesome 5 Free';
	font-style: normal;
	font-weight: 900;
	src: url(../font/fa-solid-900.woff) format("woff"),
		 url(../font/fa-solid-900.ttf) format("truetype");
}
.fa, .fas {
	font-family: 'Font Awesome 5 Free'; font-weight: 900; 
}